.input-container {
  margin: 9px 0px;
  color: white;
  width: calc(100% - 40px);
  padding: 20px;
}

.input-label {
  font-size: 0.9em;
  margin-bottom: 9px;
}

.input-body {
  width: 100%;
  margin-bottom: 15px;
}

.input-body > input {
  background-color: inherit;
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid dodgerblue;
  width: 100%;
  outline: none;
  color: gainsboro;
}
