.login-container {
  border: 5px solid dodgerblue;
  border-radius: 12px;
  width: 550px;
}

.login-header {
  font-size: 2em;
  color: dodgerblue;
  font-weight: 800;
  border-bottom: 5px solid dodgerblue;
  text-align: center;
  padding: 20px;
}

.login-body {
}
